  {% if page.header or page.primary_sidebar_menu %}
    <!-- Start: Header -->
    <header id="header" class="solo-outer lone header{{ site_header_colors ? ' ' ~ site_header_colors }}{{ site_name_animate_on ? ' ' ~ site_name_animate_on }}{{ site_name_google_font ? ' ' ~ site_name_google_font }}{{ name_size_s ? ' ' ~ name_size_s }}{{ name_size_l ? ' ' ~ name_size_l }}{{ classes_header ? ' ' ~ classes_header }}" role="banner" aria-label="{{ 'Site header'|t }}"{{ attributes_header }}>
      <div id="header-inner" class="solo-inner solo-col solo-col-1 header-inner{{ header_change_icons ? ' hs-icons-left' }}{{ header_sitename_center ? ' header-sitename-center' }}{{ header_sitename_center_small ? ' header-sitename-center-small' }}{{ header_sitename_center_default ? ' header-sitename-center-default' }}">

        {% if page.primary_sidebar_menu %}
          <div id="sidebar-button-open" class="hamburger-icon sidebar-button-open">
            {# <i class="fa fa-bars"></i> #}
            <button class="btn-animate solo-button-menu sidebar-hamburger-icon" data-drupal-selector="sidebar-hamburger-icon" aria-label="{{ 'Open Sidebar Main Menu'|t }}" aria-controls="primary-sidebar-menu" aria-expanded="false">
              <span>{{ svg_bars|raw }}</span>
              <span class="visually-hidden">{{ 'Open Sidebar Main Menu'|t }}</span>
            </button>
          </div>
        {% endif %}

        {% if page.fixed_search_block %}
          <div id="search-button-open" class="hamburger-icon search-button-open">
            {# <i class="fa fa-bars"></i> #}
            <button class="btn-animate solo-button-menu sidebar-hamburger-icon" data-drupal-selector="sidebar-hamburger-icon" aria-label="{{ 'Open Search Block'|t }}" aria-controls="fixed-search-block" aria-expanded="false">
              <span>{{ svg_search|raw }}</span>
              <span class="visually-hidden">{{ 'Open Search Block'|t }}</span>
            </button>
          </div>
        {% endif %}

        {% if page.header %}
          {{ page.header }}
        {% endif %}

      </div>
    </header>
    <!-- End: Header -->
  {% endif %}
