  {% if page.popup_login_block %}
  <!-- Start: Popup Login Block -->
  <div id="popup-login-block" class="solo-outer lone popup-login-block solo-animate-opacity" role="login" aria-hidden="true" aria-label="{{ 'Login Block'|t }}" {{ attributes_popup_login_block }}>
    <div id="popup-login-block-inner" class="solo-inner solo-col popup-login-block-inner{{ classes_popup_login_block ? ' ' ~ classes_popup_login_block }}">
      <div id="login-button-close" class="hamburger-icon hamburger-icon-close login-button-close">
      {# <i class="fa fa-close"></i> #}
        <button class="solo-button-menu login-block-button-close-inner" data-drupal-selector="login-block-button-close-inner" aria-label="{{ 'Close Login Popup Block'|t }}" aria-controls="popup-login-block" aria-expanded="false">
            <span>{{ svg_bars|raw }}</span>
            <span class="visually-hidden">{{ 'Close Login Popup Block'|t }}</span>
        </button>
      </div>
    {{ page.popup_login_block }}
    </div>
  </div>
  <!-- End: Popup Login Block -->
  {% endif %}
