{#
/**
 * @file
 * Theme override to display a toolbar menu.
 *
 * If Claro is the admin theme, this template will be used by the active theme
 * even if the active theme is not Claro.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
<ul{{ attributes.addClass('navbar-nav flex-grow-1 pe-3', 'dempo-navbar-nav') }}>
    {% for item in items %}
      {%
        set classes = [
          'nav-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      
      {% set coba = [item.in_active_trail ? 'menu-item--active-trail'] %}
      
      {% if item.below %}
        <li class="nav-item dropdown nav-level-{{menu_level}}">
            {# <a class="nav-link dropdown-toggle {{ coba }}" href="{{ item.url }}" role="button" data-bs-hover="dropdown" aria-expanded="false">{{ item.title }}</a> #}
            
            <span data-bs-hover ="dropdown" class="d-none d-sm-block">{{ link(item.title, item.url, { 'class':['nav-link dropdown-toggle'] }) }}</span>
            <span data-bs-toggle="dropdown" class="d-block d-sm-none">{{ link(item.title, item.url, { 'class':['nav-link dropdown-toggle'] }) }}</span>
            
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            
            {#  Att:  class="navbar-nav flex-grow-1 pe-3 dempo-navbar-nav" #}
            
            <ul class="dropdown-menu">
                <li><a class="dropdown-item d-block d-sm-none" href="{{ item.url }}">{{ item.title }}</a></li>
                {% for subitem1 in item.below %}
                    {{ link(subitem1.title, subitem1.url, { 'class':['dropdown-item'] }) }}
                {% endfor %}
            </ul>
        </li>
            

      {% else %}
        <li class="nav-item nav-level-{{menu_level}}">
            {{ link(item.title, item.url, { 'class':['nav-link'] }) }}
        </li>
      {% endif %}
    
    {% endfor %}
</ul>
